In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ip_date_sample.csv", delimiter="|")
df['timestamp'].head()

0    1519811397
1    1519811396
2    1519811394
3    1519811392
4    1519811352
Name: timestamp, dtype: int64

In [3]:
df['human_time'] = pd.to_datetime(df['timestamp'], unit='s')
df.head()

        ip   timestamp          human_time
0  xyz.321  1519811397 2018-02-28 09:49:57
1  xyz.321  1519811396 2018-02-28 09:49:56
2  xyz.213  1519811394 2018-02-28 09:49:54
3  xyz.123  1519811392 2018-02-28 09:49:52
4  xyz.321  1519811352 2018-02-28 09:49:12

In [25]:
# And if you want to see the day of week
df['day_of_week'] = df['human_time'].dt.weekday_name
df.head()

        ip   timestamp          human_time day_of_week
0  xyz.321  1519811397 2018-02-28 09:49:57   Wednesday
1  xyz.321  1519811396 2018-02-28 09:49:56   Wednesday
2  xyz.213  1519811394 2018-02-28 09:49:54   Wednesday
3  xyz.123  1519811392 2018-02-28 09:49:52   Wednesday
4  xyz.321  1519811352 2018-02-28 09:49:12   Wednesday

Additional date/time attributes can be found [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html).  This is a really convenient thing to know, but HORRIBLY documented.  What's happening above is this:

1. The [to_datetime()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html) function is converting the Epoch time in seconds into a datetime object, which in this case is of type [DatetimeIndex](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html)
2. One of the available DatetimeIndex "attributes" is a convenience function named [weekday_name](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.weekday_name.html#pandas.DatetimeIndex.weekday_name), which returns the Sun - Sat name of weekday.